* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(2px); */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20rem;
    height: 20rem;
    margin: 1.5rem;
}

.form-container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 10px;
}

.results-container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}